
:root {
    --cor-primaria: #444552;
    --cor-secundaria: #9794b1;
    --cor-neutra-semi: #666174;
    --cor-texto-on-primary: #F6F7FE;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.link-on-primary { color: var(--cor-texto-on-primary); }
.link-on-primary:hover { color: #9093b1; }
.link-on-primary:not(.ignore-visited):visited { color: #717382; }

span.spacing, span.line, span.line-1, span.line-2 {
    display: block;
    margin: 0;
    padding: 0;
}

span.line:not(.vertical) {
    height: 3px;
    width: 100%;
    background-color: var(--cor-primaria);
}

span.long-hyphen {
    display: block;
    margin-bottom: 10px;
    width: 1rem;
    height: 2px;
    background-color: black;
}

.d-flex {
    display: flex;
}

.flex-centered, .flex-centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-centered-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-centered {
    text-align: center;
}

/* Generic: Espaçammento e Dimensionamento */

.w-005 { width: 0.5rem !important; }
.w-01, .w-010 { width: 1rem !important; }
.w-015 { width: 1.5rem !important; }
.w-02, .w-020 { width: 2rem !important; }
.w-025 { width: 2.5rem !important; }
.w-03, .w-030 { width: 3rem !important; }
.w-035 { width: 3.5rem !important; }
.w-04, .w-040 { width: 4rem !important; }
.w-045 { width: 4.5rem !important; }
.w-05, .w-050 { width: 5rem !important; }

.h_5 { height: 5px !important; }
.h_10 { height: 10px !important; }
.h_15 { height: 15px !important; }
.h_20 { height: 20px !important; }
.h_25 { height: 25px !important; }
.h_30 { height: 30px !important; }
.h_35 { height: 35px !important; }
.h_40 { height: 40px !important; }
.h_45 { height: 45px !important; }
.h_50 { height: 50px !important; }
.h_55 { height: 55px !important; }
.h_60 { height: 60px !important; }


.h-100_pct { height: 100% !important; }
.h-90_pct { height: 90% !important; }
.h-80_pct { height: 80% !important; }
.h-70_pct { height: 70% !important; }
.h-60_pct { height: 60% !important; }
.h-50_pct { height: 50% !important; }
.h-40_pct { height: 40% !important; }
.h-30_pct { height: 30% !important; }
.h-20_pct { height: 20% !important; }
.h-10_pct { height: 10% !important; }


.m-l-005 { margin-left: 0.5rem !important; }
.m-l-01, .m-l-010 { margin-left: 1rem !important; }
.m-l-015 { margin-left: 1.5rem !important; }
.m-l-02, .m-l-020 { margin-left: 2rem !important; }
.m-l-025 { margin-left: 2.5rem !important; }
.m-l-03, .m-l-030 { margin-left: 3rem !important; }
.m-l-035 { margin-left: 3.5rem !important; }
.m-l-04, .m-l-040 { margin-left: 4rem !important; }
.m-l-045 { margin-left: 4.5rem !important; }
.m-l-05, .m-l-050 { margin-left: 5rem !important; }

/* Generic: Color */

.bg-primary { background-color: var(--cor-primaria) !important; }
.bg-secondary { background-color: var(--cor-secundaria) !important; }
.bg-neutral-semi { background-color: var(--cor-neutra-semi) !important; }